# Introdução a Tuplas e Dicionários

## Introdução a Tuplas

In [3]:
tupla = (6,8,9)
tupla[1]

8

## Introdução a Dicionários

In [4]:
dicionario = {
    'curso':'Desenvolvimento de Sistemas',
    'ano': 2024,
    'modulo': 'Técnicas de Programação e Algoritmos',
    'professor': 'Gustavo'
}

print(dicionario['curso'])
print(dicionario['ano'])
print(dicionario['modulo'])
print(dicionario['professor'])

Desenvolvimento de Sistemas
2024
Técnicas de Programação e Algoritmos
Gustavo

In [5]:
dicionario['nota'] = 9.5
print(dicionario['nota'])

9.5

In [6]:
for i in dicionario.values():
    print(i)
print("\n")

for i in dicionario.keys():
    print(i)

Desenvolvimento de Sistemas
2024
Técnicas de Programação e Algoritmos
Gustavo
9.5


curso
ano
modulo
professor
nota

In [9]:
print(dicionario.keys())
print(dicionario.values())

dict_keys(['curso', 'ano', 'modulo', 'professor', 'nota'])
dict_values(['Desenvolvimento de Sistemas', 2024, 'Técnicas de Programação e Algoritmos', 'Gustavo', 9.5])

In [10]:
dicionario.clear()
print(dicionario)

{}

## Exercício 1
> Crie 3 dicionários: Matricula, Aluno e Disciplina. A matricula terá código da matricula, data_inscrição e curso; O aluno terá registro e nome; A disciplina terá registro e professor. Ao final adicione os três dicionários em uma tupla chamada escola

In [1]:
matricula = {
    'codigo': 1109,
    'data_inscrição': '01/02/24',
    'curso': 'D.S.'
}
aluno = {
    'registro': 240065,
    'nome': 'Cristian'
}
disciplina = {
    'registro': 777,
    'nome': 'TPA',
    'professor': 'Gustavo'
}
escola = (matricula, aluno, disciplina)

for x in escola:
    print(x)

{'codigo': 1109, 'data_inscrição': '01/02/24', 'curso': 'D.S.'}
{'registro': 240065, 'nome': 'Cristian'}
{'registro': 777, 'nome': 'TPA', 'professor': 'Gustavo'}

## Exercício 2
> Crie três dicionários para as seguintes tabelas: vendedor, produto e venda. O vendedor terá registro, nome e admissão; o produo terá o ID, nome, fabricante; A venda terá reg_vendedor, id_produto e valor. Após a criação dos dicionários, adicione a uma tupla chamada casas_baiano.

In [2]:
vendedor = {
    'registro': 323,
    'nome': 'P. Diddy',
    'admissão': '25/06/2009'
}
produto = {
    'ID': 30,
    'nome': 'Óleo de bebê',
    'fabricante': 'Hollywood'
}
venda = {
    'reg_vendedor': 'MJLEA',
    'id_produto': 54,
    'valor': 10.99
}

casas_baiano = (vendedor, produto, venda)

for x in casas_baiano:
    print(x)

{'registro': 323, 'nome': 'P. Diddy', 'admissão': '25/06/2009'}
{'ID': 30, 'nome': 'Óleo de bebê', 'fabricante': 'Pd'}
{'reg_vendedor': 'MJLEA', 'id_produto': 54, 'valor': 10.99}